# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [2]:
# Your code here
import numpy as np
import pandas as pd  # 'pd' is an alias for pandas

# Load dataset from an online source
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
dataset = pd.read_csv(url)

In [3]:
#- Identify the dimensions of the dataset by determining the number of rows and columns it contains.

dataset.shape

(4008, 11)

In [4]:
#- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.

dataset.info()

#Q: Are the data types appropriate for the nature of the variable?
#A: customer lifetime value should be numerical (float), no of complaints should be integer- QS: WHAT DO THEY MEAN BY OBJECT?


#Q: Fixing the data types
#A: Cast Customer lifetime value as float and no of complaints as integer if possible

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

In [5]:
#- Identify the number of unique values for each column 
dataset.nunique()

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [6]:
#determine which columns appear to be categorical. 
dataset.head(3)

#Customer, ST, GENDER, Education, POLICY TYPE, VEHICLE CLASS appear to be

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247

In [7]:
#You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.

print(dataset.Customer.unique())
print(dataset.ST.unique())
print(dataset.GENDER.unique())
print(dataset["Policy Type"].unique())
print(dataset["Vehicle Class"].unique())

['RB50392' 'QZ44356' 'AI49188' ... 'CW49887' 'MY31220' nan]
['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]
[nan 'F' 'M' 'Femal' 'Male' 'female']
['Personal Auto' 'Corporate Auto' 'Special Auto' nan]
['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]

In [13]:
numeric_cols = dataset.select_dtypes(include=['number'])
numeric_cols

       Income  Monthly Premium Auto  Total Claim Amount
0         0.0                1000.0            2.704934
1         0.0                  94.0         1131.464935
2     48767.0                 108.0          566.472247
3         0.0                 106.0          529.881344
4     36357.0                  68.0           17.269323
...       ...                   ...                 ...
4003      NaN                   NaN                 NaN
4004      NaN                   NaN                 NaN
4005      NaN                   NaN                 NaN
4006      NaN                   NaN                 NaN
4007      NaN                   NaN                 NaN

[4008 rows x 3 columns]

In [15]:
range_values = numeric_cols.max() - numeric_cols.min()
range_values

Income                  99960.000000
Monthly Premium Auto    35293.000000
Total Claim Amount       2892.857571
dtype: float64

In [20]:
#- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.

dataset.describe()

             Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678

In [25]:
# Median for each numerical column
median_values = dataset.Income.median()
print("Median Value for Income:\n", median_values)

median_values = dataset["Monthly Premium Auto"].median()
print("Median Value for Monthly Premium Auto:\n", median_values)

median_values = dataset["Total Claim Amount"].median()
print("Median Value for Total Claim Amount:\n", median_values)

Median Value for Income:
 36234.0
Median Value for Monthly Premium Auto:
 83.0
Median Value for Total Claim Amount:
 354.729129

In [27]:
# Mode for each numerical column
mode_values = dataset.Income.mode()
print("mode Value for Income:\n", median_values)

mmode_values = dataset["Monthly Premium Auto"].mode()
print("mode Value for Monthly Premium Auto:\n", median_values)

mode_values = dataset["Total Claim Amount"].mode()
print("mode Value for Total Claim Amount:\n", median_values)

mode Value for Income:
 354.729129
mode Value for Monthly Premium Auto:
 354.729129
mode Value for Total Claim Amount:
 354.729129

In [28]:
#- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

# Number of unique values for each categorical column
unique_counts = dataset.nunique()
print("Number of Unique Values:\n", unique_counts)

# Value counts for each categorical column
for column in dataset.select_dtypes(include=['object']).columns:
    value_counts = dataset[column].value_counts()
    print(f"\nValue Counts for {column}:\n", value_counts)

# Mode for each categorical column
mode_values = dataset.mode().iloc[0]  # .iloc[0] to get mode in case there are multiple modes
print("\nMode Values:\n", mode_values)

Number of Unique Values:
 Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

Value Counts for Customer:
 Customer
RB50392    1
HJ15383    1
AO74776    1
HQ82233    1
OL72737    1
          ..
RO26085    1
ES57969    1
JK55587    1
RN97635    1
MY31220    1
Name: count, Length: 1071, dtype: int64

Value Counts for ST:
 ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64

Value Counts for GENDER:
 GENDER
F         457
M         413
Male       39
female     28
Femal      17
Name: count, dtype: int64

Value Counts for Education:
 Education
Bachelor                324
College                 313
High School or Below    296
Master                   94
Doctor                   37
Bachelors                 7
Name: count, dtype: int64

Value Counts for Customer Lifetime Value:
 Customer Lifetime Value
445811.34%     4
251459.20%     4
272535.64%     3
578018.22%     3
684615.03%     3
              ..
245357.08%     1
507566.27%     1
321497.94%     1
1227534.31%    1
899704.02%     1
Name: count, Length: 1027, dtype: int64

Value Counts for Number of Open Complaints:
 Number of Open Complaints
1/0/00    830
1/1/00    138
1/2/00     50
1/3/00     34
1/4/00     13
1/5/00      6
Name: count, dtype: int64

Value Counts for Policy Type:
 Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

Value Counts for Vehicle Class:
 Vehicle Class
Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: count, dtype: int64

Mode Values:
 Customer                           AA71604
ST                                  Oregon
GENDER                                   F
Education                         Bachelor
Customer Lifetime Value         251459.20%
Income                                 0.0
Monthly Premium Auto                  65.0
Number of Open Complaints           1/0/00
Policy Type                  Personal Auto
Vehicle Class                Four-Door Car
Total Claim Amount                   321.6
Name: 0, dtype: object

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [39]:
# Create a pandas Series object that contains the customer locations and their frequencies

derived_series= pd.read_csv(url, usecols=["ST"]).squeeze("columns") #using usecols parameter to only read only column from the original csv, squeeze method to ensure that we obtain a series and not a dataframe


value_counts = derived_series.value_counts()

print(value_counts)

ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64

In [40]:
#retrieve the top 5 less common locations in ascending order

value_counts.sort_values()

ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Arizona       186
California    211
Oregon        320
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [41]:
# Create a pandas Series object that contains the policy types and their total number of policies sold

policytypes_series= pd.read_csv(url, usecols=["Policy Type"]).squeeze("columns") #using usecols parameter to only read only column from the original csv, squeeze method to ensure that we obtain a series and not a dataframe

policies_sold = policytypes_series.value_counts()

policies_sold

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

In [44]:
#retrieve the policy type with the highest number of policies sold.

highest_sold_policy=policies_sold.max()

policies_sold.index[policies_sold==highest_sold_policy].tolist()

['Personal Auto']

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [56]:
# - Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.

#original dataframe is called dataset. create new dataframe for Personal Auto policies


personal_auto_df = dataset.loc[dataset['Policy Type'] == 'Personal Auto']

personal_auto_df

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,825629.78%,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042
...,...,...,...,...,...,...,...,...,...,...,...
1065,XD85577,Cali,M,Bachelor,284226.69%,69417.0,73.0,1/1/00,Personal Auto,Four-Door Car,30.874869
1066,TM65736,Oregon,M,Master,305955.03%,38644.0,78.0,1/1/00,Personal Auto,Four-Door Car,361.455219
1067,VJ51327,Cali,F,High School or Below,2031499.76%,63209.0,102.0,1/2/00,Personal Auto,SUV,207.320041
1068,GS98873,Arizona,F,Bachelor,323912.47%,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.600000
1070,MY31220,California,F,College,899704.02%,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.600000

In [57]:
#original dataframe is called dataset. create new dataframe for Corporate Auto policies


corporate_auto_df = dataset.loc[dataset['Policy Type'] == 'Corporate Auto']

corporate_auto_df

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
6,XZ87318,Oregon,F,College,538089.86%,55350.0,67.0,1/0/00,Corporate Auto,Four-Door Car,321.600000
7,CF85061,Arizona,M,Master,721610.03%,0.0,101.0,1/0/00,Corporate Auto,Four-Door Car,363.029680
8,DY87989,Oregon,M,Bachelor,2412750.40%,14072.0,71.0,1/0/00,Corporate Auto,Four-Door Car,511.200000
12,DP39365,California,NaN,Master,879879.70%,77026.0,110.0,1/2/00,Corporate Auto,Four-Door Car,472.029737
...,...,...,...,...,...,...,...,...,...,...,...
1045,WZ31900,Oregon,F,Bachelor,864970.06%,94389.0,107.0,1/0/00,Corporate Auto,SUV,85.063708
1050,BJ53923,Arizona,M,High School or Below,260027.21%,51978.0,66.0,1/0/00,Corporate Auto,Four-Door Car,144.782152
1052,FB23788,Oregon,M,High School or Below,882883.50%,86721.0,111.0,1/0/00,Corporate Auto,SUV,532.800000
1056,PI47776,Oregon,F,Bachelor,253070.51%,89451.0,63.0,1/0/00,Corporate Auto,Four-Door Car,61.769564
1059,YG44474,Oregon,M,College,1401472.13%,54193.0,117.0,1/0/00,Corporate Auto,SUV,720.752945

In [62]:
#- Calculate the average income for personal and corporate policy.
average_income_personal = personal_auto_df['Income'].mean()
average_income_corporate = corporate_auto_df['Income'].mean()

print("Average income of corporate policy buyers is ", average_income_corporate)
print("Average income of personal policy buyers is ", average_income_personal)

Average income of corporate policy buyers is  41390.31196581197
Average income of personal policy buyers is  38180.69871794872

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# - Review again the statistics for total claim amount to gain an understanding of the data.
"""
Income	Monthly Premium Auto	Total Claim Amount
count	1071.000000	1071.000000	1071.000000
mean	39295.701214	193.234360	404.986909
std	30469.427060	1601.190369	293.027260
min	0.000000	61.000000	0.382107
25%	14072.000000	68.000000	202.157702
50%	36234.000000	83.000000	354.729129
75%	64631.000000	109.500000	532.800000
max	99960.000000	35354.000000	2893.239678"""


# From the above statistics, we can see that the mean total claim amount is 404.99, while the median (50th percentile) is 354.73.

In [66]:
#Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.


highclaimcustomers = dataset.loc[dataset['Total Claim Amount'] > percentile_75]
highclaimcustomers

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
17,OE15005,Cali,NaN,College,394524.16%,28855.0,101.0,1/0/00,Personal Auto,SUV,647.442031
23,TZ98966,Nevada,NaN,Bachelor,245019.10%,0.0,73.0,1/3/00,Corporate Auto,Four-Door Car,554.376763
26,US89481,California,NaN,Bachelor,394637.21%,0.0,111.0,1/0/00,Personal Auto,Four-Door Car,799.200000
...,...,...,...,...,...,...,...,...,...,...,...
1059,YG44474,Oregon,M,College,1401472.13%,54193.0,117.0,1/0/00,Corporate Auto,SUV,720.752945
1061,RY92647,Cali,F,Bachelor,1050677.17%,0.0,92.0,1/0/00,Personal Auto,Four-Door Car,546.524896
1068,GS98873,Arizona,F,Bachelor,323912.47%,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.600000
1069,CW49887,California,F,Master,462680.11%,79487.0,114.0,1/0/00,Special Auto,SUV,547.200000
1070,MY31220,California,F,College,899704.02%,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.600000

In [67]:
#- Use DataFrame methods to calculate summary statistics about the high policy claim amount data. 
highclaimcustomers.describe()

             Income  Monthly Premium Auto  Total Claim Amount
count    264.000000            264.000000          264.000000
mean   23677.344697            165.193182          782.228263
std    27013.483721            623.930992          292.751640
min        0.000000             63.000000          537.600000
25%        0.000000             99.000000          606.521741
50%    18807.000000            114.000000          679.597985
75%    42423.750000            133.250000          851.400000
max    99316.000000          10202.000000         2893.239678

In [68]:
highclaimcustomers.info()

<class 'pandas.core.frame.DataFrame'>
Index: 264 entries, 1 to 1070
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   264 non-null    object
 1   ST                         264 non-null    object
 2   GENDER                     238 non-null    object
 3   Education                  264 non-null    object
 4   Customer Lifetime Value    264 non-null    object
 5   Income                     264 non-null    float64
 6   Monthly Premium Auto       264 non-null    float64
 7   Number of Open Complaints  264 non-null    object
 8   Policy Type                264 non-null    object
 9   Vehicle Class              264 non-null    object
 10  Total Claim Amount         264 non-null    float64
dtypes: float64(3), object(8)
memory usage: 24.8+ KB